@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import './styles/retro.css';
@import "tailwindcss";
@plugin "daisyui";

.space-mono {
  font-family: "Space Mono", monospace;
  font-style: normal;
}


input::-ms-reveal,
input::-ms-clear {
  display: none;
}
